.main-div {
  width: 100vw;
  text-align: center;
}

/* CARDS */

.div-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.div-select {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
