.main-div {
  width: 100vw;
  text-align: center;
}

/* CARDS */

.div-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.div-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 أعمدة متساوية */
  align-items: center; /* توحيد محاذاة العناصر */
  text-align: center;
  gap: 20px; /* تباعد بين العناصر */
  align-items: flex-end;
}

.div-select h1 {
}
